<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li>
          <img src="assets/img/niravlogo.png" height="50px" width="70px"/>
      </li>
        <li class="nav-item">
            <h6><a routerLink="home" class="nav-link" routerLinkActive="active">
              Home
            </a></h6> 
          </li>
      <li class="nav-item">
        <h6><a routerLink="aboutme" class="nav-link" routerLinkActive="active">
          About Me
        </a></h6> 
      </li>
      <li class="nav-item">
        <h6><a routerLink="contactme" class="nav-link" routerLinkActive="active">
          Contact Me
        </a></h6>
      </li>
      <li class="nav-item">
        <h6><a routerLink="projects" class="nav-link" routerLinkActive="active">
          Projects
        </a></h6>
      </li>
      <li class="nav-item">
        <h6><a routerLink="services" class="nav-link" routerLinkActive="active">
          Services
        </a></h6>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
